/* Media Queries */

@media only screen and (max-width: 600px) {
    /* Design Section Styles! */
   body {
       margin: 0 auto; 
   }
   
   #section-design {
       margin-top: 0;
       width: 78.5%;  
       height: 50%;
       background-color:  hsl(30, 100%, 80%, 50%);
       display: flex;
   }
   
   header {
       width: 40%; 
       position: fixed;
   }
   
   #my-navbar {
       display: none; 
   }
   
   .logo-name {
       font-size: 20px; 
   }
   
   .logo i {
       display: block;  
       margin-left: 5%; 
       padding-left: 10%; 
       padding-right: 0; 
       position: relative;  
   }
   
   .nav-li {
       display: none; 
   }
   
   .logo img {
     width: 30%;  
   }
   
   .design-img {
       display: flex; 
       left: -30%;
       z-index: 1; 
       top: 5%; 
       overflow: hidden; 
       object-fit: contain;
       width: 108%; 
       height: 50%; 
   }
   
   .design-img img {
       width: 150%; 
       height: auto;
       position: absolute;   
   }
   
   #topPage {
       display: none; 
   }
   
   .design-text-container {
       margin-top: 80%; 
       font-size: 20px; 
       left: 0; 
       position: relative; 
       margin-left: 0; 
       margin-right: 0; 
       padding-top: 0; 
       text-align: center; 
       padding-left: 5%; 
       padding-right: 5%; 
       z-index: 2; 
   }
   
       /* meet lisa section styles */
   
   .meet-lisa {
       border: 10px solid hsl(30, 100%, 80%, 50%);
       margin-top: 10%;
       height: 600px;
       width: 73%;
   }
   
   .meet-lisa h1 {
       text-align: center;
       font-size: 25px;
   }
   
   .lisa-paragraph {
       font-size: 15px;
       position: relative; 
       left: -150%; 
       width: 100%; 
       height: 500px; 
   }
   
   .par2 {
       top: 88%;  
       padding-left: 5%; 
       padding-right: 5%; 
   }
   
   .par1 {
       top: 104%; 
   }
   
   .meet-lisa img {
       width: 100%;
       height: auto;
       float: left;
       left: -50%; 
   }
   
   .meet-lisa-content {
       margin: 0 auto;
       display: block; 
       height: 500px; 
       width: 100%;  
   }
   }
   
   /* @media only screen and (min-width: 601px) {
       body {
           background-color: blue; 
       }
   }
   
   @media only screen and (min-width: 768px) {
       body {
           background-color: pink; 
       }
   }
   
   @media only screen and (min-width: 992px) {
       body {
           background-color: red; 
       }
   }
   
   @media only screen and (min-width: 1200px) {
       body {
           background-color: white; 
       }
   } */
   
   
   
   
   
   /* #my-navbar {
       width: 100%; 
   }
   .nav-ul {
      width: 100%; 
   }
   .logo-name {
       width: 100%; 
   }
   .nav-ul {
       width: 100%; 
   }
   .logo {
       width: 100%; 
   }
   header {
       width: 100%; 
   } */