header {
    width: 100%;
    display: flex;
    background-color: white;
    position: fixed;
    top: 0;
    z-index: 999;
}

.logo i {
    display: none; 
}

.logo img {
    width: 150px; 
    height: auto;
}

.logo {
    display: flex;
    align-items: center;
    width: 100%;
}

.logo-name {
    font-family: 'Roboto', sans-serif;
    font-family: 'Sacramento', cursive;
    font-family: 'Sanchez', serif;
    font-weight: bold; 
}

#my-navbar {
    display: flex; 
    align-items: center; 
}

.nav-ul {
    display: flex; 
    flex-direction: row;
}

.nav-li {
    list-style-type: none;
    margin: 0 30px;
    font-size: 20px;
}

nav .nav-a {
    text-decoration: none; 
    color: black; 
}

.nav-li:hover {
    outline: 5px solid  hsl(30, 100%, 80%, 50%);
}

/* Design Section Styles! */

#section-design {
    margin-top: 40px;
    width: 100%; 
    height: 500px;
    background-color: hsl(30, 100%, 80%, 50%);
    display: flex;
}

.design-text-container {
    margin-left: 80px;
    margin-right: 110px;
    padding-top: 8%;
    color: black;
    font-size: 30px;
    text-align: center; 
    font-family: 'Roboto', sans-serif;
    font-family: 'Sacramento', cursive;
}

.sofia-regular {
    font-family: "Sofia", cursive;
    font-weight: 400;
    font-style: normal;
  }

.cursive {
    font-family: 'Roboto', sans-serif;
    font-family: 'Sacramento', cursive;
    font-size: 35px; 
}

.design-img {
    display: flex; 
    position: absolute;
    right: 0; 
    z-index: 1; 
}

.design-img img {
    width: 750px; 
    height: 500px;
}

/* MEET LISA SECTION */

.meet-lisa {
    border: 50px solid hsl(30, 100%, 80%, 50%);
    margin-top: 20px;
    height: 500px;
}

.meet-lisa h1 {
    text-align: center;
    font-size: 25px;
}

#meet-lisa-paras {
    overflow: hidden;
    padding: 0 10px;
}

.lisa-paragraph {
    font-size: 17px;
    margin-bottom: 20px;
    margin-top: 0;
}

.meet-lisa img {
    width: 500px;
    height: auto;
    float: left;
    
}

.meet-lisa-content {
    margin: 0 30px;
}

/* Contact Section: */

#contact-section {
    background-image: url(Photos/flowers.jpg);
    height: 700px; 
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center; 
}

.transparent-color {
    background: hsla(32, 72%, 79%, 0.62);
    height: 700px; 
}

.contact-text-container {
    text-align: center;
    z-index: 100; 
    position: relative; 
}

.contact-h1 {
    text-align: center;
    color: black;
    font-weight: bold;
    font-size: 35px;
    padding-top: 20px;
}

.contact-line {
    text-align: center;
    color: black;
    font-weight: bold;
    font-size: 20px;
}

.message-me {
    font-size: 35px; 
    color: black; 
    font-weight: bold; 
    font-family: 'Roboto', sans-serif;
    font-family: 'Sacramento', cursive;
}

.contact-form {
    text-align: center; 
    font-weight: bold;
}

.home-contact {
    margin: 8px 0; 
    width: 600px; 
    height: 30px; 
    outline: none; 
    border: 5px solid hsl(0, 100%, 95%); 
    border-radius: 5px; 
    font-size: 17px; 
    font-family: 'Roboto', sans-serif;
    font-family: 'Sacramento', cursive;
    font-family: 'Sanchez', serif;
    font-weight: bold; 
}

#message {
    height: 70px; 
}

.placeholder {
    position: absolute; 
    left: 470px; 
    top: 1680px; 
    color: grey; 
}

.contact-form-button {
    width: 200px; 
    height: 45px; 
    background-color: hsl(0, 100%, 80%);
    border: .5px solid white; 
    border-radius: 5px;
    font-weight: bold; 
    color: white; 
    font-size: 20px; 
    text-align: center; 
    top: 0; 
}

.contact-form-button:hover {
    background-color: hsl(0, 100%, 70%)
}

/*contact.html section styles*/
.contact-section-idx {
    background-image: url(Photos/flowers.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center; 
    height: 700px; 
    position: relative; 
    top: 50px;  
}

.contact-idx-input {
    margin: 8px 0; 
    width: 600px; 
    height: 30px; 
    outline: none; 
    border: 5px solid hsl(0, 100%, 95%); 
    border-radius: 5px; 
    font-size: 15px; 
}

.transparent-color-idx {
    background: hsla(32, 72%, 79%, 0.62);
    height: 700px; 
}

/* pop up section! */
#pop-up-section {
    z-index: 999;
}

.pop-up-div {
    border: 10px solid rgba(255, 204, 153);
    width: 400px; 
    height: 190px; 
    text-align: center; 
    margin-right: 20px; 
    background-color: white; 
    color: black; 
    font-size: 18px; 
    font-weight: bold;
    position: absolute; 
    top: 550px; 
    right: 5px; 
    position: fixed; 
    z-index: 999; 
}

.show {
    display: block; 
}

.pop-up {
    display: none;
}

#the-button {
    background-color: rgba(255, 204, 153);
    color: black; 
    border: none; 
    padding: 5px 10px; 
}

#the-button:hover {
    outline: 2px solid black; 
}

/* services section */
#services-body {
    background-color: hsl(30, 100%, 80%, 50%);
}

.all-imgs {
    border-radius: 10px;
    border: 10px solid white;  
}

.couple-img {
    position: absolute;
    left: 40px; 
    top: 150px; 
}

.couple-img img {
    width: 350px;
}

.women-img {
    position: absolute;  
    right: 40px; 
    top: 100px; 
}

.women-img img {
    width: 370px; 
}

.outside-img {
    position: absolute; 
    top: 480px; 
    margin-right: 40px; 
    right: 0; 
}

.outside-img img {
    width: 300px; 
    height: auto; 
}

.men-img {
    position: absolute; 
    left: 0;
    top: 550px;
    margin-left: 40px;  
}

.men-img img {
    width: 400px;  
}

.through-pedals-img {
    position: absolute; 
    top: 1500px; 
    left: 100px; 
}

.through-pedals-img img {
    width: 500px; 
    display: none; 
}

.field-img {
    position: absolute; 
    margin-top: 1150px; 
    right: 100px; 
}

.field-img img {
    width: 400px; 
    display:  none; 
}

#services-section {
    margin-top: 200px; 
}

.services-div {
    border: 1px solid black; 
    width: 700px; 
    margin: auto; 
    margin-bottom: 50px; 
    background-color: white; 
    position: relative; 
}

.services-div h1 {
    text-align: center; 
}

.services-ul {
    margin-left: 245px; 
    margin-bottom: 20px; 
}

/* faq section */
#faq-section {
    margin-top: 800px; 
    margin-bottom: 200px; 
    position: relative; 
}

.faq-title {
    font-size: 30px; 
    font-family: 'Roboto', sans-serif;
    font-family: 'Sacramento', cursive;
    font-family: 'Sanchez', serif;
    font-weight: bold; 
}

.faq-div {
    background-color: white; 
    margin-bottom: 20px; 
}

#service-faq {
    margin-bottom: 200px; 
}

/* faq-index */
#faq-body {
    background-color: hsl(30, 100%, 80%, 50%);
}

.chevron {
    width: 30px; 
    height: 30; 
    margin-top: 0px;
}

.chevron-wrapper {
   position: relative; 
   float: right;
   margin-left: 20px; 
  
}

.accordian {
    padding-top: 11px; 
    height: 80px;
}

#faq-section {
    margin: 0; 
    margin-top: 150px; 
    padding: 0; 
    box-sizing: border-box;
}

.wrapper {
    max-width: 75%; 
    margin: auto; 
}

.wrapper > p, 
.wrapper > h1 {
  margin: 1.5rem 0;
  text-align: center; 
}

.wrapper > h1 {
    letter-spacing: 3px;
}

.accordian {
    background-color: white; 
    cursor: pointer; 
    color: rgba(0,0,0,0.8);
    font-size: 1.2rem; 
    width: 100%; 
    padding: 2rem 2.5rem; 
    border: none; 
    outline: none; 
    transition: 0.4s;
    display: flex; 
    justify-content: space-between;
    align-items: center;
    font-weight: bold; 
}

.accordian i {
    font-size: 1.6rem; 
}

.active, .accordian:hover {
    background-color: #f1f7f5;
}

.panel {
    padding: 0 18px; 
    background-color: white; 
    overflow: hidden; 
    background-color: #f1f7f5;
    display: none; 
}

.panel p {
  color: rgba(0,0,0,0.7);
  font-size: 1.2rem;
  line-height: 1.4;
}

.faq {
    border: 1px solid rgba(0,0,0,0.2);
    margin: 10px 0;
}

.faq.active {
    border: none; 
}

/* rawpixel reference */
.rawpixel {
    margin-top: -15px;
    background-color:  hsl(30, 100%, 80%, 50%);
    height: 30px; 
    text-align: center;
    line-height: 30px;
    color: black; 
    font-size: 15px; 
}

/* hamburger menu */
#hamburger-menu {
    background-color: white; 
    display: block;
}

.hamburger-nav-ul {
    display: block; 
}



/* ----------------------------------------------------------------------------------------------------------------------------------------- */
/* Media Queries */

/* IPHONE 14 MAX PRO WIDTH 430 */
@media only screen and (max-width: 431px) {
    #design-text-container {
        margin-top: 100%; 
    }
}

/* ----------------------------------------------------------------------------------------------------------------------------------------- */


@media only screen and (max-width: 600px) {
    /* Design Section Styles! */
   body {
       margin: 0 auto;  
   }
   
   #section-design {
       margin-top: 0;
       width: 100%;  
       height: 600px;
       background-color:  hsl(30, 100%, 80%, 50%);
       display: flex;
   }
   
   header {
       width: 100%;  
   }
   
   #my-navbar {
       display: none; 
   }
   
   .logo-name {
       font-size: 20px; 
   }
   
   .logo i {
       display: block;  
       margin-left: 15%; 
       padding-left: 10%; 
       padding-right: 0; 
       position: relative;  
   }
   
   .nav-li {
       display: none; 
   }
   
   .logo img {
     width: 30%;  
   }
   
   .design-img {
       display: flex; 
       left: -30%;
       z-index: 1; 
       top: 5%; 
       overflow: hidden; 
       object-fit: contain; 
       height: 600px; 
   }
   
   .design-img img {
       width: 200%; 
       height: auto;
       margin-bottom: 20px;
   }
   
   #topPage {
       display: none; 
   }

   .design-title {
    margin-bottom: 0px; 
   }

   .design-info {
    margin-top: 0px; 
   }
   
   .design-text-container {
       margin-top: 107%; 
       font-size: 23px; 
       left: 0; 
       position: relative; 
       margin-left: 0; 
       margin-right: 0; 
       padding-top: 0; 
       text-align: center; 
       padding-left: 5%; 
       padding-right: 5%; 
       z-index: 2; 
   }

   /* pop-up  div styles */

   .show {
    display: none;
  }
   
       /* meet lisa section styles */

    #meet-lisa {
        margin-bottom: 41px; 
    }
   
   .meet-lisa {
       border: 10px solid hsl(30, 100%, 80%, 50%);
       margin-top: 10%;
       height: 600px;
   }
   
   .meet-lisa h1 {
       text-align: center;
       font-size: 25px;
   }

   #meet-lisa-paras{

   }
   
   .lisa-paragraph {
       font-size: 13px;
   }
   
   .par2 {
   }
   
   .par1 {
    margin-top: 5px;
   }
   
   .meet-lisa img {
       width: 100%;
       height: auto;
       float: left;
       left: -50%; 
   }
   
   .meet-lisa-content {
       margin: 0 auto;
       display: block; 
       height: 500px; 
       width: 100%;  
   }

   /* contact section styles  */
   /* #contact-section {
   
   } */

   #contact-section {
    margin-top: -3%;
   }

   .home-contact{
    width: 350px; 
    font-size: 18px; 
   }

  

   /* hamburger menu */
   .myBurger {
    background-color:  hsl(30, 100%, 80%); 
    position: absolute; 
    top: 67px; 
    width: 100%;
    height: 600%; 
   }

   .hamburger-lis {
    list-style-type: none;
    margin: 55px;  
    font-size: 25px; 
    text-align: center; 
    padding-right: 25px; 
    font-family: 'Roboto', sans-serif;
    font-family: 'Sacramento', cursive;
    font-family: 'Sanchez', serif;
    font-weight: bold; 
   }

   .hamburger-as {
    text-decoration: none;
    color: black; 
   }

   .hamburger-btn-clicked {
    color: white; 
   }

   /* SERVICES */
   .services-div {
    width: 360px;
    margin-bottom: 220px;
   }

   .services-ul {
    margin-left: 75px; 
   }

   .men-img img {
    width: 300px;
   }

   .men-img {
    text-align: center;
    height: 175px;
    overflow: hidden;
    border-bottom: 10px solid white;
    border-radius: 10px;
    margin-left: unset;
   }

   .women-img img {
    width: 250px; 
   }

   .women-img {
    text-align: center;
    top: 80px;  
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
   }

   .couple-img img {
    width: 250px; 
   }

   .couple-img {
    text-align: center; 
    top: 555px; 
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
   }

   .outside-img {
    display: none; 
   }

   .services-container {
    margin-top: 280px; 
   }

   #service-faq {
    margin-top: -90px;
   }

  .faq {
    margin-left: -40px; 
    margin-right: -40px;
  }

  .all-imgs {
    width: 500px; 
   }

   .exp-div {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
    height: 175px;
    width: 320px;
    top: 485px;
   }

  /* CONTACT */
  .contact-idx-input {
    width: 350px; 
    font-size: 18px;
  }

  .transparent-color-idx {
    height: 846px;
  }

  .contact-section-idx {
    height: 846px;
  }

  .contact-text-container {
    padding-top: 50px;
  }

  .home-contact-container {
    padding-top: 0;
   }
   }
/* ----------------------------------------------------------------------------------------------------------------------------------------- */
   @media only screen and (max-width: 376px) {
     /*---------------- HOME ----------------*/

     /* burger */
    #nav {
        margin-top: -20px;
    }

    .myBurger {
        top: 60px;
    }

    .logo i {
        margin-left: 10%; 
    }

    /* design section */
    .design-img img {
        width: 165%;
    }

    .design-img {
        left: -33%;
    }

    .design-text-container {
        margin-top: 114%;
    }

    /* meet lisa */
    #meet-lisa {
        margin-bottom: 37px;
    }

    .lisa-paragraph {
    }

    .par1 {
    }

    .par2 {
    }

    /* contact */
    .contact-h1 {
        font-size: 30px;
        margin-top: 0px;
    }

    .contact-line {
        margin: 10px 0px; 
    }

    .message-me {
        margin: 20px 0px; 
        font-size: 33px; 
    }

    .home-contact {
        width: 330px;
        font-size: 17px; 
    }

    .transparent-color {
        height: 610px;
    }

    #contact-section {
        height: 610px;
    }

    /* rawpixel */

    .pixel {
        font-size: 16px;
    }

    /*---------------- SERVICES ----------------*/

    .services-div {
        width: 345px;
    }

    .services-ul {
        margin-left: 35px;
    }

    #faq-section {
        height: 700px;
    }

    /*---------------- CONTACT ----------------*/
    .contact-section-idx {
        margin-top: -10px;
        height: 610px;
    }

    .transparent-color-idx {
        height: 610px;
    }

    .contact-idx{
        padding: 0;
    }

    .contact-idx-input {
        width: 330px;
        font-size: 17px; 
    }

/*---------------- FAQ SECTION ----------------*/

#faq-section {
    margin-top: 90px;
}

}
/* ----------------------------------------------------------------------------------------------------------------------------------------- */
@media only screen and (max-width: 391px) {
   /*---------------- HOME ----------------*/

   /* burger */
   .myBurger {
    top: 62px;
   }

   #nav {
    margin-top: -15px;
   }

   .logo i {
    margin-left: 10%;
   }

   /* design section */
   #design-text-container {
    margin-top: 111%;
   }

   /* meet lisa */

    #meet-lisa {
        margin-bottom: 39px;
    }

    .lisa-paragraph {
    }
   .par2 {
   }

   .par1 {
   }

     /* rawpixel */

     .pixel {
        font-size: 16px;
    }

/*---------------- SERVICES ----------------*/

    .services-ul {
        margin-left: 50px;
    }

/*---------------- SERVICE-FAQ ----------------*/
    #service-faq {
        margin-top: 0px; 
        margin-bottom: 170px;
    }

    #faq-section {
        margin-top: -100px; 
    }

/*---------------- CONTACT-IDX ----------------*/
    .contact-section-idx {
        height: 800px;
    }

    .transparent-color-idx {
        height: 800px;
    }

    .contact-text-container {
        padding-top: 10px;
    }

/*---------------- FAQ-IDX ----------------*/
    #faq-query-styling {
        margin-top: 200px;
    }
}



   
   @media only screen and (min-width: 601px) {
       /* body {
           background-color: blue; 
       } */
   }
   
/* IPAD MINI */
    @media only screen and (min-width: 767px) {
      .logo {
        width: 305px;
      }

      .logo img {
        width: 120px;
      }

      .logo h1 {
        font-size: 27px;
      }


      .nav-ul {
      }

      .nav-li {
        font-size: 22px;
        margin: 0 16px;
      }

      #design-text-container {
        z-index: 9999;
        padding-top: 280px;
      }

      .design-img img {
        width: 770px;
      }

      .design-text-container {
        margin-left: 110px;
        margin-right: 110px;
      }

      .design-title {
        margin-bottom: 0px; 
        margin-top: 80px;
      }

      .design-info {
        margin-top: 0px; 
      }
   } 
/*    
    @media only screen and (min-width: 992px) {
       body {
           background-color: red; 
       }
   } */
   
   @media only screen and (min-width: 1200px) {
       /* body {
           background-color: black; 
       } */
       .nav-li {
        font-size: 23px;
        margin: 0 50px;
      }

      .nav-ul {
        margin-left: 350px; 
      }

      .logo h1 {
        width: 300px;
      }
   }  
    
.hidden {
    display: none; 
}
   
   
   






