header {
    width: 100%;
    display: flex;
    background-color: white;
    position: fixed;
    top: 0;
    z-index: 999;
}

.logo img {
    width: 150px; 
    height: auto;
}

.logo {
    display: flex;
    align-items: center;
    width: 100%;
}

.logo-name {
    font-family: 'Roboto', sans-serif;
font-family: 'Sacramento', cursive;
font-family: 'Sanchez', serif;
}

#my-navbar {
    display: flex; 
    align-items: center; 
}

.nav-ul {
    display: flex; 
    flex-direction: row;
}

.nav-li {
    list-style-type: none;
    margin: 0 30px;
    font-size: 20px;
}

nav .nav-a {
    text-decoration: none; 
    color: black; 
}

.nav-li:hover {
    outline: 5px solid  hsl(30, 100%, 80%, 50%);
}

/* Design Section Styles! */

#section-design {
    margin-top: 70px;
    width: 100%; 
    height: 600px;
    background-color:  hsl(30, 100%, 80%, 50%);
    display: flex;
}

.design-text-container {
    margin-left: 135px;
    margin-right: 110px;
    padding-top: 9%;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-family: 'Sacramento', cursive;
    font-size: 30px;
    text-align: center; 
}

.design-img {
    display: flex; 
    position: absolute;
    right: 0; 
    z-index: 1; 
}

.design-img img {
    width: 1000px; 
    height: 600px;
}

/* MEET LISA SECTION */

.meet-lisa {
    border: 50px solid hsl(30, 100%, 80%, 50%);
    margin-top: 20px;
    height: 500px;
}

.meet-lisa h1 {
    text-align: center;
    font-size: 30px;
}

.lisa-paragraph {
    margin-left: 550px;
    font-size: 20px;
}

.meet-lisa img {
    width: 500px;
    height: auto;
    float: left;
    
}

.meet-lisa-content {
    margin: 0 30px;
}

/* Contact Section: */

#contact-section {
    background-image: url(Photos/flowers.jpg);
    height: 900px; 
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center; 
}

.transparent-color {
    background: hsla(32, 72%, 79%, 0.52);
    height: 900px; 
}

.contact-text-container {
    text-align: center;
    z-index: 100; 
    position: relative; 
}

.contact-h1 {
    text-align: center;
    color: black;
    font-weight: bold;
    font-size: 55px;
    padding-top: 70px;
}

.contact-line {
    text-align: center;
    color: black;
    font-weight: bold;
    font-size: 25px;
}

.message-me {
    font-size: 35px; 
    color: black; 
    font-weight: bold; 
}

.contact-form {
    text-align: center; 
}

.home-contact {
    margin: 8px 0; 
    width: 800px; 
    height: 50px; 
    outline: none; 
    border: 5px solid hsl(0, 100%, 95%); 
    border-radius: 5px; 
    font-size: 20px; 
}

#message {
    height: 100px; 
}

.placeholder {
    position: absolute; 
    left: 470px; 
    top: 1680px; 
    color: grey; 
}

.contact-form-button {
    width: 200px; 
    height: 45px; 
    background-color: hsl(0, 100%, 80%);
    border: .5px solid white; 
    border-radius: 5px;
    font-weight: bold; 
    color: white; 
    font-size: 20px; 
    text-align: center; 
    top: 0; 
}

/*contact.html section styles*/
.contact-section-idx {
    background-image: url(Photos/flowers.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center; 
    height: 880px; 
    position: relative; 
    top: 50px;  
}

.contact-idx-input {
    margin: 8px 0; 
    width: 800px; 
    height: 50px; 
    outline: none; 
    border: 5px solid hsl(0, 100%, 95%); 
    border-radius: 5px; 
    font-size: 20px; 
}

.transparent-color-idx {
    background: hsla(32, 72%, 79%, 0.52);
    height: 880px; 
}

/* pop up section! */
#pop-up-section {
    z-index: 999;
}

.pop-up-div {
    border: 10px solid rgba(255, 204, 153);
    width: 400px; 
    height: 190px; 
    text-align: center; 
    margin-right: 20px; 
    background-color: white; 
    color: black; 
    font-size: 18px; 
    font-weight: bold;
    position: absolute; 
    top: 550px; 
    right: 5px; 
    position: fixed; 
    z-index: 999; 
}

.show {
    display: block; 
}

.pop-up {
    display: none;
}

/* services section */
#services-body {
    background-color: hsl(30, 100%, 80%, 50%);
}

#services-section {
    margin-top: 100px; 
}

.services-div {
    border: 1px solid black; 
    width: 800px; 
    margin: auto; 
    margin-bottom: 50px; 
    background-color: white; 
}

.services-div h1 {
    text-align: center; 
}

.services-ul {
    margin-left: 290px; 
    margin-bottom: 20px; 
}

/* faq section */
#faq-section {
    margin-top: 300px; 
    margin-bottom: 300px; 
}

.faq-div {
    background-color: white; 
    margin-bottom: 20px; 
}

/* faq-index */
#faq-body {
    background-color: hsl(30, 100%, 80%, 50%);
}

/* switching tabs */

.hide {
    display: none;
}

.show {
    display: block; 
}